h1 {
    font-family: ".oswald", sans-serif;
    font-style: normal;
    color: #595758;
    background-color: #ff92c2;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    padding: 20px;
}
h2 {
    font-family: ".oswald", sans-serif;
    font-style: normal;
    color: #595758;
    text-align: center;
    margin: auto;
    padding: 20px;
}
h3 {
    font-family: ".oswald", sans-serif;
    font-style: normal;
    color: #595758;
    text-align: center;
    margin: auto;
}
body {
    font-family: ".oswald", sans-serif;
    font-style: normal;
    background-color: #ffe4f3;
    color: #595758;
    text-align: center;
    margin: auto;
}
div {
    background-color: #ffc8fb;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    width: 600px
}
img {
    padding:5px;
    border:5px;
    margin:5px;
}

table {
    padding:5px;
    border:5px;
    border-width: medium;
    border-style: solid;
    border-color: #ff92c2;
    border-collapse: collapse; 
    margin:5px; 
    align-content: center;position: relative;
    text-align: center;
}
.dropbtn {
  background-color: #ffc8fb;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: #ff92c2;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 1px 8px 16px 1px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: solid;
  display: block;
}
.show {display:block;}
.footer {
    text-align: right;
    clear:both;
    font-size: 6px;
}